
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<title>VirtuScope Sensor Display</title>
<style type="text/css">

body {
    background-color: #707070;
    font-family: Courier, "Courier New", monospace;
    color: white;
}

#ancestor {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

#parent {
    width: 100%;
    min-height: 280px;
    margin-top: 12px;
}

#tab_parent {
    display: table;
    width: 100%;
    height: 50px;;
}

.tab {
	display: table-cell;
    border: 1px solid #111;
    border-right: none;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 17pt;
    text-align: center;
    width: 25%;
    background-color: #292929;
}

#tab_parent :first-child {
	border-top-left-radius: 20px;
}

#tab_parent :last-child {
	border-right: 1px solid #111;
	border-top-right-radius: 20px;
}

.tab_first {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.tab_last {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.selected_tab {
    background-color: black;
    border-color: black;
}

#tab_contents {
	padding-top: 35px;
	width: 100%;
	background-color: black;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-bottom: 20px;
}

.footer {
    clear: both;
    height: 30px;
}

#master_detail_table {
	display: table;
	margin-top: 10px;
	margin-left: 12px;
	margin-right: 12px;
}

#master {
    display: table-cell;
    text-align: right;
    min-width: 100px;
    font-size: 16pt;
    padding-bottom: 5px;
    margin-top: -7px;
}

#detail {
    display: table-cell;
  	border: 1px solid #555;
  	background-color: #181818;
  	padding-top: 30px;
  	padding-bottom: 20px;
  	padding-left: 30px;
  	padding-right: 30px;
	border-radius: 5;
}

#detail_function {
	white-space: pre-wrap;
	width: 100%;
	font-size: 11pt;
	color: #BBB;
}

#data_table {
	table-layout:fixed;
	color: #CCC;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.data_table_row {
}

.data_table_cell {
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	overflow:hidden;
	border-bottom: #444 dotted 1px;
	word-wrap: break-word;
}

.no_overflow {
	text-overflow: ellipsis;
	white-space: nowrap;
}

.error_msg {
	color: red;
	font-size: 12pt;
	margin-left: 24pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
}

</style>

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript">

function set_button_state(button_id, value) {
	var button_text = ( Number(value)== 0)?"UP":"DOWN"; 
    $('#'+button_id).text(button_text);
}

function set_orientation(axis_id, value) {
    $('#'+axis_id).text(value);
}

function set_temperature(value) {
    $('#temperature').text(value.data);
}

function set_error_message(message) {
	$('#global_error').text(message);
}

function initialize_event_sources() {
    
    // create event source for virtuscope events
    var eventsource = new EventSource("/event_stream");
    
    // connect event listeners for the buttons and orientation
    eventsource.addEventListener('h', function(msg) { set_orientation("horizontal_orientation", msg.data); }, false);
    eventsource.addEventListener('v', function(msg) { set_orientation("vertical_orientation", msg.data); }, false);
    eventsource.addEventListener('q', function(msg) { set_button_state("button1", msg.data); }, false);
    eventsource.addEventListener('a', function(msg) { set_button_state("button2", msg.data); }, false);
    eventsource.addEventListener('p', function(msg) { set_button_state("button3", msg.data); }, false);
    eventsource.addEventListener('t', set_temperature, false);
    
    eventsource.addEventListener('l', 
        function(msg) { 
            set_button_state("button4", msg.data); 
        }, 
    false);
}

$(document).ready(function() {
    // set initial values
    set_button_state("button1", 0);
    set_button_state("button2", 0);
    set_button_state("button3", 0);
    set_button_state("button4", 0);
   
    // connect event sources
    initialize_event_sources();
})
</script>

</head>
<body>

<!-- layout taken from the fabulous fish shell configuration page -->
<div id="ancestor">
    <span style="font-size: 30pt ">virtuscope</span><p id="global_error" class="error_msg"></p>
    <div id="parent">
        <div id="tab_parent">
            <div class="tab selected_tab" id="tab_colors">sensors</div>
        </div>
        
        <div id="tab_contents">
			<div id="master_detail_table">
				<div id="master"></div>
			</div>
			<table id="data_table">
                <tr>
                    <td>horizontal angle: </td>
                    <td id="horizontal_orientation">0</td>
                </tr>
                <tr>
                    <td>vertical angle: </td>
                    <td id="vertical_orientation">0</td>
                </tr>
                <tr>
                    <td>button 1:</td>
                    <td id="button1">0</td>
                </tr>
                <tr>
                    <td>button 2: </td>
                    <td id="button2">0</td>
                </tr>
                <tr>
                    <td>button 3:</td>
                    <td id="button3">0</td>
                </tr>
                <tr>
                    <td>button 4: </td>
                    <td id="button4">0</td>
                </tr>
                <tr>
                    <td>Temperature: </td>
                    <td id="button4">0</td>
                </tr>
			</table>
			<div class="footer"/>
		</div>
    </div>
</div>

</body></html>

